body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/*header*/

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 17px 0;
}

.studio {
  color: #2e2f42;
}

.header-menu-list {
  gap: 40px;
  display: none;
}

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.header-address {
  display: none;
}

.header-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-address-link {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.mob-menu {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  padding: 72px 16px 40px 16px;
  flex-direction: column;
  left: 0;
}

.mob-menu-cont {
  width: 320px;
  min-height: 640;
  padding: 72px 16px 40px 16px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}

.mob-menu-nav {
  margin-bottom: auto;
}

.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-nav-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mob-nav-link:hover,
.mob-nav-link:focus {
  color: #404bbf;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.studio-mob-menu {
  color: #404bbf;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mob-address {
  font-style: normal;
  margin-bottom: 48px;
}

.mob-address-list {
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 24px;
}

.mob-address-link {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mob-address-link:hover,
.mob-address-link:focus {
  color: #4d5ae5;
}

.tel-mob-menu {
  color: #4d5ae5;
}

.mob-icon-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}

/* 1 hero */

.hero {
  background-color: rgba(46, 47, 66, 1);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob-1x.jpg);
  padding: 72px 0;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob-2x.jpg);
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.hero-title {
  text-align: center;
  max-width: 216px;
  margin: 0 auto;
  color: #fff;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.hero-btn {
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  background-color: #404bbf;
}

.hero-btn:focus {
  background-color: #404bbf;
}

/* 2 features */

.features {
  background: #fff;
  padding: 96px 0;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}
.features-item {
  /* display: flex;
  flex-direction: column;
  gap: 8px;
  width: 288px; */
}

.features-icon {
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.features-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.features-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* 3 team */

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.container {
}

.team-container {
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}

.team-list {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
  list-style: none;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  /* min-width: 264px; */
  /* padding-bottom: 32px; */
  justify-content: center;
  align-items: center;
  /* gap: 32px; */
}

.team-item-img {
}

.team-item-cont {
  padding: 32px 0;
  /* display: flex;
  flex-direction: column;
  gap: 8px; */
}

.team-item-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-item-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(77, 90, 229, 1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-icon {
  fill: #f4f4fd;
  stroke: #ffffff;
}

.icon-link:hover {
  background-color: #404bbf;
}

.icon-link:focus {
  background-color: #404bbf;
}

.icon-link:hover .icon-icon {
  stroke: rgb(241, 147, 40);
}

/* 4 portfolio */

.portfolio {
  background: #fff;
  /* padding: 120px 0; */
  padding: 96px 0;
}

.container {
}

.portfolio-container {
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* row-gap: 48px;
  column-gap: 24px; */
  gap: 48px;
  list-style: none;
}

.portfolio-item {
  /* width: 360px;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  border-top: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  /* display: flex;
  min-width: 288px; */
  margin: 0 auto;
  /* padding-bottom: 32px;
  flex-direction: column;
  align-items: center;
  gap: 32px; */
  border: 1px solid #f4f4fd;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-cont {
  /* display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none; */
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.portfolio-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  /* margin-bottom: 8px; */
}

.portfolio-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-item-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  background-color: rgba(77, 90, 229, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  display: flex;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer */

.footer {
  background-color: #2e2f42;
  /* padding: 100px 0; */
  padding: 96px 0;
  width: 100%;
}

.container {
}

.footer-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
  /* align-items: baseline; */
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-items: flex-start; */
  gap: 16px;
  /* margin-right: 120px; */
}

.footer-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-studio {
  color: #f4f4fd;
  padding-top: 101.5;
}

.footer-text {
  color: #f4f4fd;
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-soc-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  align-items: center;
  gap: 16px;
}

.footer-icon-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.icon-link-footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(77, 90, 229, 1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer:hover {
  background-color: #31d0aa;
}

.icon-link-footer:focus {
  background-color: #31d0aa;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-left: 80px; */
}

.mail-input {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: white;
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  /* max-width: 453px;
  gap: 24px;
  align-items: baseline; */
  width: 288px;
  gap: 16px;
  align-items: center;
}

.footer-label {
  /* display: flex; */
  gap: 24px;
  align-items: center;
}

.form-input {
  border: 1px solid white;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background: #2e2f42;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: white;
}

.input::placeholder {
  color: white;
}

.footer-button-input {
  display: flex;
  font-weight: 500;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  cursor: pointer;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
}

.subscribe-icon {
  margin-left: 16px;
  fill: white;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  /* width: 408px;
  min-height: 584px; */
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 72px 24px 24px 24px; */
  padding: 72px 16px 16px 16px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  top: 24px;
  right: 24px;
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-icon-close {
  fill: rgba(46, 47, 66, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover > .modal-icon-close,
.modal-close:focus > .modal-icon-close {
  fill: #ffffff;
}

.modal-title {
  text-align: center;
  max-width: 360px;
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  font-size: 16px;
  color: rgba(46, 47, 66, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: rgba(77, 90, 229, 1);
}

.modal-input:focus + .modal-icon {
  fill: rgba(77, 90, 229, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.modal-input::placeholder {
  font-size: 14px;
  color: rgba(46, 47, 66, 0.4);
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-icon {
  fill: rgba(46, 47, 66, 1);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-textarea {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: rgba(77, 90, 229, 1);
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  position: relative;
}

.check-text a {
  color: #4d5ae5;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  /* margin-left: 4px; */
}

.check-text-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  /* margin-right: 12px; */
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-button {
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  align-items: flex-start;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  gap: 10px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
  background: #404bbf;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .team > .container,
  .footer > .container {
    max-width: 584px;
  }

  .features > .container,
  .portfolio > .container {
    max-width: 736px;
  }

  .logo {
    margin-right: 120px;
  }

  .header-menu-list {
    display: flex;
    gap: 40px;
  }

  .header-address {
    display: flex;
    font-style: normal;
    margin-left: auto;
  }

  .header-address-list {
    flex-direction: column;
    gap: 12px;
  }

  .header-address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .open-menu-btn {
    display: none;
  }

  .hero {
    background-color: rgba(46, 47, 66, 1);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab-1x.jpg);
    padding: 112px 0;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab-2x.jpg);
    }
  }

  .hero-container {
    gap: 36px;
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  .features {
    padding: 96px 0;
  }

  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .features-item {
    align-items: flex-start;
    width: calc((100% - 24px) / 2);
    /* margin-bottom: 72px; */
  }

  .features-title {
    text-align: left;
  }

  .team {
    padding: 96px 0px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio {
    padding: 96px 0;
  }

  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-item-cont {
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .footer {
    padding: 96px 0px;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    align-items: flex-start;
    justify-content: flex-start;
    /* padding-left: 108px; */
  }

  .footer-logo-container {
    align-items: flex-start;
    /* margin-bottom: 72px; */
  }

  .footer-soc-container {
    align-items: flex-start;
  }

  .footer-form {
    align-items: flex-start;
  }

  .form {
    max-width: 453px;
    flex-direction: row;
    gap: 24px;
    align-items: baseline;
  }

  .modal {
    width: 408px;
    min-height: 584px;
  }

  .check-text a {
    margin-left: 4px;
  }

  .check-text-span {
    margin-right: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .team > .container,
  .footer > .container {
    max-width: 1158px;
  }

  .features > .container,
  .portfolio > .container {
    max-width: 1128px;
    padding: 0 16px;
  }

  .header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .logo {
    margin-right: 76px;
  }

  .header-menu-list {
    display: flex;
    gap: 40px;
  }

  .header-address {
    display: flex;
    font-style: normal;
    margin-left: auto;
  }

  .header-address-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .hero {
    background-color: rgba(46, 47, 66, 1);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-1x.jpg);
    padding: 188px 0;
    margin: 0 auto;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }

    .hero-container {
      gap: 48px;
    }
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    box-sizing: border-box;
  }

  .features {
    flex-direction: row;
    padding: 120px 0;
  }

  .features-list {
    gap: 24px;
    align-items: flex-start;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .features-title {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .features-text {
    font-weight: 400;
  }

  .team {
    padding: 120px 0;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  .portfolio {
    padding: 120px 0;
  }

  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }

  .portfolio-item-cont {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .footer {
    padding: 100px 0;
  }

  .footer-container {
    align-items: baseline;
    gap: unset;
  }

  .footer-logo-container {
    align-items: flex-start;
    margin-right: 120px;
  }

  .footer-soc-container {
    align-items: flex-start;
  }

  .footer-form {
    align-items: flex-start;
    margin-left: 80px;
  }

  .form {
    max-width: 453px;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
  }

  .footer-label {
    display: flex;
  }

  .modal {
    width: 408px;
    min-height: 584px;
  }

  .check-text a {
    margin-left: 4px;
  }

  .check-text-span {
    margin-right: 12px;
  }
}
